{% extends 'base.html.twig' %}



{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section class="home">
    </section>
    <div style="height: 1000px">
        <!-- just to make scrolling effect possible -->
			<h2 class="myH2">WELCOME TO ANTOHAKALAVA NATURAL</h2>
		<!--	<p class="myP">This is a responsive fixed navbar animated on scroll</p>
			<p class="myP">I took inspiration from  ABDO STEIF (<a href="https://codepen.io/abdosteif/pen/bRoyMb?editors=1100">https://codepen.io/abdosteif/pen/bRoyMb?editors=1100</a>)
			and Dicson <a href="https://codepen.io/dicson/pen/waKPgQ">(https://codepen.io/dicson/pen/waKPgQ)</a></p>
			<p class="myP">I HOPE YOU FIND THIS USEFULL</p>
			<p class="myP">Albi</p>-->
				<p class="myP">
				
				Antohakalava Natural is one of the most spectacularly natural humid rainforest more than 672ha, located in North-East of Madagascar ( Antsiranana province- SAVA region ). Almost the whole area is formed by primary forest that have never been touched by human being with its uniqueness and rarity of many of its exceptional wildlife such as plants and animal species.
Antohakalava Natural is interesting in two ways, firstly for its presence of biodiversity, secondly for its name. It’s formed by the word AN-TOHAKALAVA : AN indicates the place , TOHAKALAVA means large waterfall.			</p>
    </div>
{% endblock %}
